body{
  background-color: red;
}
.box{
  background-color: red;
}
pre{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight:bold;
}
.card-expiration-date, .card-num{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-num{
  font-size: 24px;
}
